# Tutorial: Hello Bash and Python

In this tutorial we will familiarise ourselves with bash and python, and Notebooks (inadvertantly). Please load this notebook in `colab.research.google.com` if you do not have a local instance of JupyterHub/JupyterLab running.


Submission:

The submission for this tutorial requires a submission on Git, as well as one on SUNLearn. You will receive an email to your student account asking you to create an account on Gitlab

In [11]:
import pandas as pd

## Question 1: Bash

Retrieve data and interogate it with bash before using python tooling. This is useful as you may struggle with type or malformed files and a quick interogation may reveal those issues.

### Question 1.1

Run the bash command `wget` to retrieve a file located at `https://storage.googleapis.com/bdt-beam/users_v.csv` [1]

In [3]:
! wget -V

GNU Wget 1.19.4 built on linux-gnu.

-cares +digest -gpgme +https +ipv6 +iri +large-file -metalink +nls
+ntlm +opie +psl +ssl/openssl

Wgetrc:
    /etc/wgetrc (system)
Locale:
    /usr/share/locale
Compile:
    gcc -DHAVE_CONFIG_H -DSYSTEM_WGETRC="/etc/wgetrc"
    -DLOCALEDIR="/usr/share/locale" -I. -I../../src -I../lib
    -I../../lib -Wdate-time -D_FORTIFY_SOURCE=2 -DHAVE_LIBSSL -DNDEBUG
    -g -O2 -fdebug-prefix-map=/build/wget-Xb5Z7Y/wget-1.19.4=.
    -fstack-protector-strong -Wformat -Werror=format-security
    -DNO_SSLv2 -D_FILE_OFFSET_BITS=64 -g -Wall
Link:
    gcc -DHAVE_LIBSSL -DNDEBUG -g -O2
    -fdebug-prefix-map=/build/wget-Xb5Z7Y/wget-1.19.4=.
    -fstack-protector-strong -Wformat -Werror=format-security
    -DNO_SSLv2 -D_FILE_OFFSET_BITS=64 -g -Wall -Wl,-Bsymbolic-functions
    -Wl,-z,relro -Wl,-z,now -lpcre -luuid -lidn2 -lssl -lcrypto -lpsl
    ftp-opie.o openssl.o http-ntlm.o ../lib/libgnu.a

Copyright (C) 2015 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later
<http://www.gnu.org/licenses/gpl.html>.
This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to the extent permitted by law.

Originally written by Hrvoje Niksic <hniksic@xemacs.org>.
Please send bug reports and questions to <bug-wget@gnu.org>.

In [4]:
! wget https://storage.googleapis.com/bdt-beam/users_v.csv

--2022-08-09 10:28:12--  https://storage.googleapis.com/bdt-beam/users_v.csv
Resolving storage.googleapis.com (storage.googleapis.com)... 142.250.141.128, 142.251.2.128, 2607:f8b0:4023:c0b::80
Connecting to storage.googleapis.com (storage.googleapis.com)|142.250.141.128|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 143675 (140K) [text/csv]
Saving to: ‘users_v.csv’

users_v.csv         100%[===================>] 140.31K  --.-KB/s    in 0.002s

2022-08-09 10:28:12 (80.6 MB/s) - ‘users_v.csv’ saved [143675/143675]

### Question 1.2

Use a bash command to view the top ten elements of the file (to confirm that things are as you expect) [1]

In [6]:
! head users_v.csv

head: cannot open '10' for reading: No such file or directory
==> users_v.csv <==
user_id,name,gender,age,address,date_joined
1,Anthony Wolf,male,73,New Rachelburgh-VA-49583,2019/03/13
2,James Armstrong,male,56,North Jillianfort-UT-86454,2020/11/06
3,Cody Shaw,male,75,North Anne-SC-53799,2004/05/29
4,Sierra Hamilton,female,76,New Angelafurt-ME-46190,2005/08/26
5,Chase Davis,male,31,South Bethmouth-WI-18562,2018/04/30
6,Sierra Andrews,female,21,Ryanville-MI-69690,2007/05/25
7,Ann Stone,female,41,Smithmouth-SD-17340,2005/01/05
8,Karen Santos,female,34,Mariaville-AK-29888,2003/12/12
9,Ronald Meyer,male,41,North Cherylhaven-NJ-04197,2015/11/14

### Question 1.3

Use a bash command to determine the number of rows in the file [1]

In [7]:
! wc -l users_v.csv

2358 users_v.csv

### Question 1.4

Suppose the file is too large for initial exploration, let's take a quick sample so that we can continue working to see what is in the data set. Loading it into Pandas at this point will mean that we are using all that memory in any case, so let's sample it before we load it.

Take a random sample of the file (limited the result to 1000 lines) and create another file called `users_sample.csv`, using only bash commands [3]

Hint: redirect a stream into a the output file.

In [8]:
! shuf users_v.csv | tail -1000 > users_sample.csv

### Question 1.5 

* Sort your file by ascending `user_id`s [1]
* Overwrite the current `users_sample.csv` with the ordered content [1]
* Print the last ten lines of this file [1]

In [9]:
%%bash
cat users_sample.csv | sort -n > tmp
mv tmp users_sample.csv
tail -10 users_sample.csv

2342,Matthew Brown,male,55,Williamsmouth-NJ-53250,2014/09/05
2343,Daniel Murphy,male,77,Rosarioville-MA-90831,2002/10/11
2344,Mary Gray,female,74,West Jeffreystad-ID-25109,2000/03/23
2347,Clayton Mendoza,male,54,Barajasview-VA-48348,2009/03/08
2348,Victoria Edwards,female,68,Lake Jamesberg-NY-88824,2001/09/03
2349,Chris Ellis,male,46,Port Richardside-NY-77994,2011/03/18
2350,Kimberly Smith,female,19,East Anthony-GA-00646,2021/06/20
2353,Brittney Graham,female,40,Brownland-CO-71229,2005/07/10
2354,Allison Schmidt,female,43,Port Logan-MD-38588,2008/11/30
2355,Christopher Johnson,male,68,North Justinton-VA-32798,2006/08/01

## Question 2: Python

Perform analysis with Python

### Question 2.1

Load the original `users_v.csv` into a Pandas dataframe [1]

In [12]:
df = pd.read_csv('users_v.csv')

### Question 2.2

Display/print the top ten lines of the dataframe [1]

In [13]:
df.head(10)

,user_id,name,gender,age,address,date_joined
0,1,Anthony Wolf,male,73,New Rachelburgh-VA-49583,2019/03/13
1,2,James Armstrong,male,56,North Jillianfort-UT-86454,2020/11/06
2,3,Cody Shaw,male,75,North Anne-SC-53799,2004/05/29
3,4,Sierra Hamilton,female,76,New Angelafurt-ME-46190,2005/08/26
4,5,Chase Davis,male,31,South Bethmouth-WI-18562,2018/04/30
5,6,Sierra Andrews,female,21,Ryanville-MI-69690,2007/05/25
6,7,Ann Stone,female,41,Smithmouth-SD-17340,2005/01/05
7,8,Karen Santos,female,34,Mariaville-AK-29888,2003/12/12
8,9,Ronald Meyer,male,41,North Cherylhaven-NJ-04197,2015/11/14
9,10,Steven Rivera,male,43,Wayneside-VT-29040,2003/05/15

### Question 2.3

Find the age of the oldest and youngest person in the dataset [1]

Hint: you can use the `print(..., ...)` function to display the two values if you construct it as two arguments

In [14]:
print(min(df.age), max(df.age))

18 80

### Question 2.4

Draw descriptive statistics (one-liner) for the `age` column - these statistics should include `count`, `mean`, and `std` [1]

Hint: this command has a parallel in R

In [15]:
df.age.describe()

count    2357.000000
mean       49.054731
std        18.206348
min        18.000000
25%        33.000000
50%        49.000000
75%        65.000000
max        80.000000
Name: age, dtype: float64

### Question 2.5

* Using anonymous functions (`lambda`), create a `surname` column from the name column (you may assume that the last word without a space is the surname) [2]
* Display the last 10 lines of your dataframe [1]

In [16]:
df['surname'] = df.name.map(lambda x: x.split(' ')[1])
df.tail()

,user_id,name,gender,age,address,date_joined,surname
2352,2353,Brittney Graham,female,40,Brownland-CO-71229,2005/07/10,Graham
2353,2354,Allison Schmidt,female,43,Port Logan-MD-38588,2008/11/30,Schmidt
2354,2355,Christopher Johnson,male,68,North Justinton-VA-32798,2006/08/01,Johnson
2355,2356,Mark Brown,male,67,New Kayleefurt-MA-82581,2013/11/16,Brown
2356,2357,Steven Robinson,male,45,Mistytown-HI-31737,2015/03/21,Robinson

### Question 2.6

* Convert `date_joined` to a pandas series of type `datetime`  [1]
* Overwrite the original `date_joined` column with the result [1]

In [17]:
pd.to_datetime(df.date_joined)

0      2019-03-13
1      2020-11-06
2      2004-05-29
3      2005-08-26
4      2018-04-30
          ...
2352   2005-07-10
2353   2008-11-30
2354   2006-08-01
2355   2013-11-16
2356   2015-03-21
Name: date_joined, Length: 2357, dtype: datetime64[ns]

In [18]:
df.date_joined = pd.to_datetime(df.date_joined)

## Question 3: Git

Push your notebook to Git. If you don't have any Git tooling installed on your machines, download a preferred tool.

 * Create a repository (named `day1-tutorial`) on Gitlab (check your student email for sign-up/membership request to Gitlab) [1]
 * Push this notebook to that repository [1]